$color-primary: #2bd2ff;
$color-secondary: #b867ef;
$color-tertiary: #fa8bff;

$linearGradient: linear-gradient(
  135deg,
  #fa8bff 10%,
  #b867ef 35%,
  #2bd2ff 66%,
  #2bff88 100%
);

$color-black: #121212;
$color-white: #f7f7f7;

///////////////////////////////////
// FONT VARIABLES

$font-openSans: 'Open Sans', sans-serif;
$font-display: 'Euphoria Script', cursive;

$font-size-default: 1.6rem;
$letter-spacing-small: 0.2rem;
