@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,700&display=swap');

body {
  font-family: $font-openSans;
  font-weight: 400;
  line-height: 1.6;

  color: $color-white;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
}

%heading {
  font-weight: 400;
}

.heading-1 {
  font-size: Max(7vw, 3rem);
  text-align: center;
  letter-spacing: 0.4rem;
  font-family: $font-display;
}

.heading-2 {
  @extend %heading;
  font-size: Max(4vw, 4rem);
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  @include gradient-clip-text;
}

.heading-3 {
  @extend %heading;
  font-weight: bold;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.8rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
