.u-center-text {
  text-align: center !important;
}

// MARGIN BOTTOM
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-por) {
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-por) {
    margin-bottom: 5rem !important;
  }
}

// MARGIN TOP
.u-margin-top-small {
  margin-top: 1.5rem !important;
}
.u-margin-top-medium {
  margin-top: 4rem !important;
}
.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

///////////////////////////////////
.visible {
  display: block;
}

.hidden {
  display: none !important;
  position: absolute;
  top: 0;
}

.active {
  display: grid !important;
}

$br-radius: 1rem;

.border {
  border-right: 1px solid $color-white;
  padding-right: 1rem;
}
